<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!-- Home -->
    <route path="/" action="index" controller="PostController"/>
    <route path="home" action="index" controller="PostController"/>

    <!-- Author -->
    <route path="author" action="author" controller="AuthorController"/>

    <!-- Comment -->
    <route path="article" action="comment" controller="CommentController" params="id"/>
</routes>